.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.meta {
  margin: 10px;
  border: 1px solid #000000;
  flex: 1;
}

.map {
  margin: 10px;
  border: 1px solid #000000;
  flex: 1;
}

.sensors {
  border: 1px solid #000000;
  width: 100%;
  margin-top: 20px;
}

.sensor-data-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sensor-data-container app-current-sensor-data {
  flex: 1;
  margin: 0 10px;
}
