@if (vehicleCrashWithBridgePrevented) {
  <tr>
    @if (detectedOversize) {
      <td>Oversize vehicle detected</td>
    }
    @if (trafficHalted) {
      <td>Signal switched to "halt"</td>
    }
    @if (policeInformed) {
      <td>Police informed</td>
    }
    @if (policePresent) {
      <td>Police at location</td>
    }
    @if (policeReroute) {
      <td>Police rerouting traffic</td>
    }
  </tr>

}

@if (vehicleCrashWithBridge) {
  <tr>
    @if (detectedOversize) {
      <td>Oversize vehicle detected</td>
    }
    @if (trafficHalted) {
      <td>Signal switched to "halt"</td>
    }
    @if (policeInformed) {
      <td>Police informed</td>
    }
    @if (policePresent) {
      <td>Police at location</td>
    }
    @if (policeMeasures) {
      <td>Police taking action</td>
    }
    @if (emergencyManagerInformed) {
      <td>Emergency manager informed</td>
    }
    @if (emergencyManagerPresent) {
      <td>Emergency manager at location</td>
    }
    @if (alarmReleased) {
      <td>Police released alarm</td>
    }
  </tr>

}
