@if (vehicleCrashWithBridgePrevented) {

@if (detectedOversize) {
<div class="alert alert-danger" role="alert">
  Oversize vehicle detected</div>
}

@if (trafficHalted) {
<div class="alert alert-info" role="alert">
  Traffic light set to "halt"</div>
}

@if (policeInformed) {
<div class="alert alert-info" role="alert">
  Police unit has been informed
</div>
}

@if (policePresent) {
<div class="alert alert-info" role="alert">
  Police is now present on location</div>
}

@if (policeReroute) {
<div class="alert alert-info" role="alert">
  Police is now rerouting traffic
</div>
}

}

@if (vehicleCrashWithBridge) {
@if (detectedOversize) {
<div class="alert alert-danger" role="alert">
  Oversize vehicle detected</div>
}

@if (trafficHalted) {
<div class="alert alert-info" role="alert">
  Traffic light set to "halt"</div>
}

@if (policeInformed) {
<div class="alert alert-info" role="alert">
  Police unit has been informed
</div>
}

@if (policePresent) {
<div class="alert alert-info" role="alert">
  Police is now present on location</div>
}

@if (policeMeasures) {
<div class="alert alert-info" role="alert">
  Police now taking action</div>
}

@if (emergencyManagerInformed) {
<div class="alert alert-info" role="alert">
  Emergency manager informed</div>
}

@if (emergencyManagerPresent) {
<div class="alert alert-info" role="alert">
  Emergency manager on location</div>
}

@if (alarmReleased) {
<div class="alert alert-success" role="alert">
  Police released alarm
</div>
}
}