@if (vehicleCrashWithBridgePrevented) {
    <tr>
        <td *ngIf="detectedOversize">Oversize vehicle detected</td>
        <td *ngIf="trafficHalted">Signal switched to "halt"</td>
        <td *ngIf="policeInformed">Police informed</td>
        <td *ngIf="policePresent">Police at location</td>
        <td *ngIf="policeReroute">Police rerouting traffic</td>
    </tr>

}

@if (vehicleCrashWithBridge) {
    <tr>
        <td *ngIf="detectedOversize">Oversize vehicle detected</td>
        <td *ngIf="trafficHalted">Signal switched to "halt"</td>
        <td *ngIf="policeInformed">Police informed</td>
        <td *ngIf="policePresent">Police at location</td>
        <td *ngIf="policeMeasures">Police taking action</td>
        <td *ngIf="emergencyManagerInformed">Emergency manager informed</td>
        <td *ngIf="emergencyManagerPresent">Emergency manager at location</td>
        <td *ngIf="alarmReleased">Police released alarm</td>
    </tr>

}
